.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

#wallpaper{
  width:110vw;
  height:150vh;
  position:fixed;
  top:-10%;
  left:50%;
  transform:translateX(-50%);
  z-index:-1;
  filter: blur(20px);
}

h1{
  width:100%;
  text-align: center;
  margin-top:5vw;
  font-weight:bold;
  color:white;
}

button{
  width:42vw;
  float:left;
  height:42vw;
  margin:4vw;
  color:white;
  font-size:5vw;
  font-weight: lighter;
  border:solid white 1px;
  background:rgba(0,0,0,0.1);
}

button.active{
  background:rgba(255,255,255,1);
  color:black;
}

@media  (min-width: 720px) {
  button:hover{
    background:rgba(255,255,255,1);
    color:black;
  }
}
