<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <img id="wallpaper" src="img/bg2.jpg"/>

  <h1>Living Room</h1>

  <button onclick="lightsOn(this);">Lights On</button>
  <button onclick="lightsOff(this);">Lights Off</button>

</body>
</html>
