<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <button onclick="lightsOn();" style="background:#23C2E2">Lights On</button>
  <button onclick="lightsOff();" style="background:#E35F22">Lights Off</button>

</body>
</html>
