<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <link rel="apple-touch-icon" href="logo.png">

  <img id="wallpaper" src="img/bg2.jpg"/>

  <h1>Living Room</h1>
  <h3>Alright dude, back to testing.</h3>

  <button onclick="lightsOn(this);">Lights On</button>
  <button onclick="lightsOff(this);">Lights Off</button>

  <h1>Bedroom</h1>
  <button onclick="bedroomOn(this);">On</button>
  <button onclick="bedroomOff(this);">Off</button>

  <h1>Modes</h1>
  <button onclick="ModeDefault(this);">Default</button>
  <button onclick="ModeParty(this);">Party</button>
  <button onclick="ModeSmash(this);">Smash</button>

</body>
</html>
