<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <link rel="apple-touch-icon" href="logo.png">

  <img id="wallpaper" src="img/bg2.jpg"/>

  <div id="parent_container">

    <h2>Basic</h2>

    <section>
      <h1>Living Room</h1>

      <button onclick="lightsOn(this);">Lvng<br>On</button>
      <button onclick="lightsOff(this);">Lvng<br>Off</button>
      <button onclick="stopAudio(this);">Kill<br>Audio</button>
    </section>

    <section>
      <h1>Bedroom</h1>
      <button onclick="bedroomOn(this);">Bdrm<br>On</button>
      <button onclick="bedroomOff(this);">Bdrm<br>Off</button>
    </section>

    <div class="divider"></div>
    <h2>Modes</h2>
    <section>
      <h1>Modes</h1>
      <button onclick="ModeDefault(this);">Default</button>
      <button onclick="ModeParty(this);">Party</button>
      <button onclick="ModeSmash(this);">Smash</button>
      <button onclick="ModeAllOff(this);">All Off</button>
    </section>

  </div>

</body>
</html>
