<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <h1>Living Room</h1>

  <button onclick="lightsOn();">Lights On</button>
  <button onclick="lightsOff();">Lights Off</button>

</body>
</html>
