// Imports
@import 'common';

#menu {
  position: absolute;
  left:0;
  top:0;
  width:100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .room-option {
    @include noselect;

    color: white;
    font-family: 'Francois One', sans-serif;
    font-size: 500%;
    cursor: pointer;
    z-index: 1;

    &.selected {
      transform: scale(1.1);

      &::before{
        content: '- ';
      }
      &::after{
        content: ' -';
      }
    }

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }
  }

  .bg {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(106,0,255,0.6), rgba(77,46,255,0.9));
    z-index:0;
  }
}
